<!DOCTYPE html>
<html>
<head>
    <title>GPLab Home Page Spring App1</title>
    <meta charset="UTF-8">
</head>
<body>

<div class="starter-template">
    <h1>GPLab Example</h1>
    <h2>
        <span th:text="'Hello, ' + ${message}"></span>
    </h2>
</div>
<ul>Usages:
<li>
<a href="http://localhost:8080">http://localhost:8080</a>
</li><li>
<a href="http://localhost:8080/welcome">http://localhost:8080/welcome</a>
</li><li>
<a href="http://localhost:8080/welcome?name=GPLab">http://localhost:8080/welcome?name=GPLab</a>
</li></ul>

</body>
</html>