<!DOCTYPE html>
<html>
<head>
    <title>G3RLab Home Page Spring App1</title>
    <meta charset="UTF-8">
</head>
<body>

<div class="starter-template" >
    <h1>G3RLab Example Spring App1</h1>
    <h2>
        <span th:text="'Hello, ' + ${message}"></span>
    </h2>
</div>

<div class="starter-template">
    <h2>
        Implementation by <a href="http://g3rlab.blogspot.nl" target="_blank">G3RLab</a>
    </h2>
</div>

<ul>Usages:
<li>
<a href="http://localhost:8080">http://localhost:8080</a>
</li><li>
<a href="http://localhost:8080/welcome">http://localhost:8080/welcome</a>
</li><li>
<a href="http://localhost:8080/welcome?name=G3RLab">http://localhost:8080/welcome?name=G3RLab</a>
</li></ul>

</body>
</html>